{% extends 'base.html' %}
{% block main %}
    <h4 class="card-title">Available Riddles</h4>
    {% if message %}
        <p class="alert alert-success">
            <strong>{{ message }}</strong>
        </p>
    {% endif %}
    {% if latest_riddles %}
        <ul>
            {% for riddle in latest_riddles %}
                <li>
                    <a href="/riddles/{{ riddle.id }}/">
                        {{ riddle.riddle_text }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No riddles are available right now.</p>
    {% endif %}
{% endblock %}